body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.site-wrapper {
  min-width: 940px;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 100vh;
}

.site-wrapper-1 {
  background-color: #849d8f;
  background-image: url("./../img/slide-1.png");
}

/* HEADER */

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 9px;
}

.header-logo {
  width: 154px;
  height: 64px;
  margin-right: 18px;
}

.header-logo img {
  width: 100%;
}

.header-navigation {
  flex-grow: 1;
}

.header-nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.header-nav-list .header-catalog-link {
  padding: 8px 13px;
  margin-right: 8px;
  border-bottom: 5px solid transparent;
}

.header-nav-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
}

.header-nav-list .header-catalog-link.active-header-link.main-catalog {
  background: #d07058;
  border-radius: 26px;
  border-bottom: 5px solid #849d8f;
}

.header-nav-list .header-catalog-link:hover,
.header-nav-list .header-catalog-link:active {
  padding: 0;
}

.header-nav-list .header-catalog-link:hover > .header-nav-link {
  padding: 8px 13px;
  background-color: #fff;
  color: #323232;
  border-radius: 26px;
}

.header-nav-list .header-catalog-link:active > .header-nav-link {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px #696969;
}

.header-catalog-link {
  position: relative;
}

.main-catalog:hover .popup-menu,
.popup-menu:hover {
  display: block;
  z-index: 20;
}

.popup-menu {
  display: none;

  position: absolute;
  bottom: -175px;
  left: -14px;
  width: 143px;
  background-color: #fff;
  list-style: none;
  margin: 0;
  padding: 5px 0px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.popup-menu-item {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  padding: 5px 20px;
  display: block;
}

.popup-menu-item:hover {
  background-color: #fbded7;
}

.popup-menu-item:active {
  background-color: #f6b5a5;
}

li > .popup-menu-item {
  margin-bottom: 5px;
}

li > .popup-menu-title {
  margin-bottom: 9px;
}

.popup-menu-title {
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.popup-menu-title::after {
  content: "";
  position: absolute;
  width: 128px;
  height: 1px;
  background-color: rgba(50, 50, 50, 0.2);
  bottom: -4px;
  left: 6px;
}

.header-buttons-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-button {
  text-align: center;
  padding-bottom: 5px;
}

.header-button .header-button-link:hover {
  background-color: #fff;
}

.header-button:hover .header-button-link {
  color: #323232;
  border-radius: 20px;
}

.header-button:not(:last-child) {
  margin-right: 10px;
}

.header-button.login-button {
  min-width: 92px;
  position: relative;
}

.header-button.cart-button {
  min-width: 100px;
  position: relative;
}

.header-button a {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.search-button {
  position: relative;
}

.search-button .searching {
  padding: 16px;
}

.search-button .searching::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("./../img/search-icon.svg");
  top: 8px;
  left: 8px;
}

.search-button:hover .searching::before {
  background-image: url("./../img/search-icon-focus.svg");
}

.search-form {
  position: absolute;
  display: none;
  top: 38px;
  right: 0;
  background: #f8f7f4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 20px 15px;
}

.search-button:hover .search-form {
  display: block;
}

.search-form input {
  background: #ffffff;
  border: 1px solid #d3d3d2;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 13px 15px;
  width: 311px;
  color: #323232;
}

.search-form input::placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.login-button .login {
  padding-left: 44px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.login-button .login::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 19px;
  background-image: url("./../img/login-icon.svg");
  top: 6px;
  left: 13px;
}

.login-button:hover a::before {
  background-image: url("./../img/login-icon-focus.svg");
}

.login-form-wrapper {
  position: absolute;
  display: none;
  right: 0;
  top: 38px;
  background: #f8f7f4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 20px 17px 22px 19px;
  z-index: 10;
}

.login-button:hover .login-form-wrapper,
.login-form-wrapper:hover {
  display: block;
}

.login-input {
  background: #ffffff;
  border: 1px solid #d3d3d2;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 13px;
  width: 241px;
  margin-bottom: 20px;
  color: #323232;
}

.login-input::placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.login-input:hover {
  padding: 12px;
}

.search-form input:hover {
  padding: 12px 14px;
}

.login-input:hover,
.search-form input:hover {
  border: 2px solid rgba(178, 178, 178, 0.52);
}

.login-input:focus,
.search-form input:focus,
.search-form input:active {
  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: none;
}

.login-form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button.login-submit-button {
  margin-top: 0;
  padding: 10px 25px;
  font-size: 18px;
  line-height: 16px;
  float: left;
}

.help-buttons {
  text-align: left;
}

.remind {
  margin-bottom: 6px;
}

.help-buttons .help-btn {
  font-size: 13px;
  line-height: 15px;
  color: #323232;
  font-weight: normal;
  text-decoration: underline rgba(50, 50, 50, 0.3);
}

.help-buttons .help-btn:hover,
.help-buttons .help-btn:focus {
  color: #ffbc9e;
}

.cart-button a {
  padding-left: 45px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cart-button a::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  background-image: url("./../img/cart-icon.svg");
  top: 5px;
  left: 14px;
}

.cart-button:hover a::before {
  background-image: url("./../img/cart-icon-focus.svg");
}

.full-cart.header-button a {
  background-color: #fff;
  color: #323232;
}

.cart-button.full-cart a::before {
  background-image: url("./../img/full_cart.svg");
}

.full-cart:hover .cart-wrapper {
  display: flex;
  flex-direction: column;
}

.cart-wrapper {
  position: absolute;
  top: 37px;
  right: 0;
  background: #f8f7f4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  display: none;
  z-index: 10;
  width: 539px;
  padding-left: 19px;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 30px;
}

.cart-products-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.cart-product {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.cart-prod-info {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.cancel-button {
  background-color: transparent;
  border: none;
  width: 11px;
  height: 11px;
  background-image: url(./../img/X.svg);
  margin-right: 9px;
  cursor: pointer;
}

.cart-product-image {
  width: 33px;
  height: 33px;
  margin-right: 13px;
}

.cart-product-name {
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  width: 216px;
  text-align: left;
}

.price-calculate {
  display: flex;
  align-items: center;
  margin-right: 26px;
}

.price-calculate strong {
  color: #000000;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}

.price-calculate p {
  color: #ababab;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  margin: 0;
  margin-left: 4px;
}

.result-price {
  color: #323232;
  margin: 0;
  font-size: 13px;
  line-height: 16px;
}

.line {
  width: 510px;
  height: 1px;
  background: #cacac7;
  margin-bottom: 18px;
  margin-left: -5px;
  margin-top: 4px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price p {
  margin-right: 5px;
}

.total-price p,
.total-price-value {
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  margin: 0;
  color: #323232;
}

.button.checkout-button {
  padding: 10px 15px;
  font-size: 18px;
  line-height: 16px;
  width: 172px;
  height: 44px;
  align-self: end;
  margin-top: 15px;
}

/* WORK-INFO */

.work-info {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.schedule {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.tel-link {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  margin-top: 8px;
}

/* SLIDER */

.slider {
  position: relative;
}

.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 275px;
  text-align: center;
  margin-bottom: 41px;
}

.slider-item {
  display: none;
}

.slider-item.current-slide {
  display: block;
}

.slide-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  width: 672px;
  margin: 0 auto;
}

.slider-controls {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 17px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-btn {
  width: 21px;
  height: 21px;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
}

.slider-btn.active-slide {
  background-color: #fff;
}

.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843, #e74a35);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  margin-top: 27px;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* PROMO */

.promo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.promo-card {
  width: 560px;
  height: 229px;
  border-radius: 16px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 22px;
}

.raspberries-promo {
  background-image: url("./../img/raspberies.jpg");
  background-size: cover;
}

.chocolate-promo {
  background-image: url("./../img/chokolate.jpg");
  background-size: cover;
}

.promo-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}

.promo-description {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 42px;
}

.button.promo-button {
  padding: 16px 22px;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  float: right;
}

/* HIT */

.hit-poducts {
  padding-bottom: 40px;
}

.product-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-card {
  position: relative;
  margin-top: 40px;
}

.hit-card::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url("./../img/hit.png");
  top: 0;
  left: 0;
  z-index: 10;
}

.card-image {
  min-width: 267px;
  min-height: 267px;
}

.card-price {
  position: absolute;
  left: 0;
  top: 216px;
}

.card-price strong {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.card-price span {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.card-description {
  width: 267px;
  margin: 0;
  margin-top: 13px;
  text-align: center;
}

.card-link {
  line-height: 22px;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.5);
}

.card-link:hover,
.card-link:focus {
  color: #ffbc9e;
}

.hover-content {
  position: absolute;
  display: none;
  align-items: flex-end;
  top: -6px;
  left: -13px;
  width: 293px;
  height: 130%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: -10;
}

.product-card:hover {
  z-index: 10;
}

.product-card:hover .hover-content {
  display: flex;
}

.promo-button.more-button {
  display: block;
  margin: 11px auto 21px;
  float: none;
}

/* INFO */

.info {
  background-image: url("./../img/pattern.png");
  border-radius: 16px;
  padding-top: 24px;
  padding-bottom: 30px;
  padding-left: 20px;
  margin-bottom: 40px;
}

.info-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  display: block;
  margin-bottom: 16px;
}

.info-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  row-gap: 22px;
}

.info-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  padding-left: 55px;
  position: relative;
}

.info-production::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  left: 0;
  top: -9px;
  background-image: url("./../img/production.svg");
}

.info-material::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  left: 0;
  top: -9px;
  background-image: url("./../img/material.svg");
}

.info-ingridients::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  left: 0;
  top: -9px;
  background-image: url("./../img/ingridients.svg");
}

.info-delivery::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  left: 0;
  top: -9px;
  background-image: url("./../img/delivery.svg");
}

/* BLOG&SUBSCRIBE */

.news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  height: 220px;
  margin-bottom: 40px;
}

.blog {
  background-image: url("./../img/news-back.jpg");
  border-radius: 16px;
  padding-top: 18px;
  padding-left: 20px;
}

.blog span {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  display: block;
  margin-bottom: 10px;
}

.blog-link {
  font-weight: bold;
  display: block;
  font-size: 24px;
  line-height: 30px;
  width: 287px;
  color: #323232;
  text-decoration: solid underline 2px #353535;
}

.blog-link:hover,
.blog-link:focus {
  color: #e84d37;
  text-decoration: solid underline 2px #e84d37;
}

.subscription {
  background-image: url("./../img/post-back.svg");
  border-radius: 16px;
}

.subscription-wrapper {
  background: #f8f7f4;
  border-radius: 16px;
  width: 548px;
  height: 210px;
  margin: 0 auto;
  margin-top: 5px;
  padding-top: 24px;
  padding-left: 20px;
}

.subscription-wrapper span {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.subscribe-form {
  margin-top: 42px;
}

.subscribe-input {
  width: 368px;
  padding: 15px 14px;
  background: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 10px;
}

.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.button.submit-button {
  font-size: 18px;
  line-height: 24px;
  padding: 14px 19px;
  margin: 0;
}

/* CONTACT_INFO */

.map {
  background-image: url("./../img/map.jpg");
  width: 100%;
  height: 430px;
  background-size: cover;
}

.contacts {
  float: right;
  display: flex;
  flex-direction: column;
  width: 303px;
  background-color: #fff;
  border-radius: 16px;
  padding-top: 27px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 31px;
  margin-top: 62px;
}

.address {
  margin-bottom: 25px;
}

.contacts span,
.contacts strong {
  color: #323232;
  display: block;
}

.contacts span {
  font-size: 14px;
  line-height: 20px;
  width: 172px;
}

.contacts strong {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  width: 225px;
}

.button.feedback-button {
  padding: 13px 28px;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  display: block;
  margin-top: 26px;
}

/* FOOTER */

.main-footer {
  padding-top: 18px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}

.footer-social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social-link {
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 50%;
  outline: 2px solid rgba(255, 255, 255, 0.5);

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.social-link:hover,
.social-link:focus {
  opacity: 1;
}

.fb-link {
  background-image: url("./../img/fb_hover.svg");
}

.vk-link {
  background-image: url("./../img/vk_hover.svg");
}

.inst-link {
  background-image: url("./../img/insta_hover.svg");
}

.twit-link {
  background-image: url("./../img/twit_hover.svg");
}

.footer-social li:not(:last-child) {
  margin-right: 12px;
}

.footer-navigation {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 32px;
  row-gap: 5px;
}

.footer-nav-link {
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #ffbc9e;
}

.for-providers {
  font-weight: bold;
  position: relative;
}

.for-providers::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  background-image: url("./../img/heart.svg");
  left: -20px;
  top: 3px;
}

.footer-copyright {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.copyright-image {
  width: 108px;
  height: 31px;
  margin-bottom: 11px;
}

.copyright-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright-link:hover,
.copyright-link:focus {
  color: #ffbc9e;
}

.footer-copyright li {
  font-size: 12px;
  line-height: 18px;
}

/* MODAL */

.feedback-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.feedback-modal.open-modal {
  display: flex;
}

.feedback-wrapper {
  margin: 0 auto;
  background: #f8f7f4;
  border-radius: 6px;
  position: relative;
  padding-top: 16px;
  padding-left: 23px;
  padding-right: 25px;
  padding-bottom: 27px;
}

.feedback-wrapper h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  margin: 0;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  background-image: url("./../img/X-big.svg");
  width: 18px;
  height: 17px;
  cursor: pointer;
}

.feedback-modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 19px;
}

.feedback-input {
  background: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 14px;

  width: 267px;
  margin-bottom: 20px;
  color: #323232;
}

.feedback-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #999999;
}

.feedback-input:hover,
.subscribe-input:hover {
  outline: 1px solid rgba(178, 178, 178, 0.52);
}

.feedback-input:focus,
.subscribe-input:focus {
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.feedback-input.feedback-text {
  width: 428px;
  height: 154px;
}

.button.submit-button.modal-submit-button {
  float: right;
  margin-top: 5px;
}

/* CATALOG */

.catalog-wrapper {
  background-color: #849d8f;
  min-width: 940px;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.catalog-navigation {
  margin-top: -18px;
}

.catalog-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.catalog-nav-link {
  font-size: 14px;
  line-height: 16px;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 22px;
  cursor: pointer;
  position: relative;
}

.catalog-nav-link::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 5px;
  right: -15px;
  background-image: url("./../img/arrows.svg");
}

.catalog-nav-link:hover,
.catalog-nav-link:focus {
  color: #ffbc9e;
}

.catalog-active-page.catalog-nav-link {
  cursor: default;
}

.catalog-active-page.catalog-nav-link:hover {
  color: inherit;
}

.catalog-active-page.catalog-nav-link::after {
  content: "";
  background-image: none;
}

.catalog-page-name {
  margin-top: 5px;
}

.catalog-page-name h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}

/* Catalog_filters */

.filters-form {
  display: flex;
  margin-top: 29px;
  flex-wrap: wrap;
}

.filters-form fieldset {
  height: 56px;
  padding: 0;
  margin: 0;
  margin-right: 15px;
  border: none;
}

.filter-2-row {
  margin-top: 14px;
  display: flex;
  align-items: flex-end;
}

.filters-legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 3px;
  margin-left: 16px;
}

#sorting {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: none;
  width: 196px;
  height: 36px;
  padding-left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  appearance: none;
  background-image: url("./../img/sort-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 171px;
  background-position-y: 50%;
  cursor: pointer;
}

#sorting:hover {
  color: #323232;
  background-image: url("./../img/sort_arrow_focus.svg");
}

#sorting:focus {
  background: #fff;
  color: #323232;
  border: none;
  outline: none;
  background-image: url("./../img/sort_arrow_focus.svg");
  background-repeat: no-repeat;
  background-position-x: 171px;
  background-position-y: 50%;
}

#sorting option {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.range-filter {
  width: 218px;
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding-top: 17px;
  padding-left: 21px;
  position: relative;
}

.scale {
  background-color: rgba(248, 247, 244, 0.5);
  width: 176px;
  height: 2px;
  position: relative;
}

.bar {
  background-color: #f8f7f4;
  width: 60%;
  height: 2px;
  margin-left: 21px;
}

.toggle {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #fff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  left: 32px;
}

.toggle-max {
  left: 148px;
}

.fat-filter-list {
  margin: 0;
  display: flex;
  list-style: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 9px 17px 9px 14px;
}

.fat-filter-list li:not(:last-child) {
  margin-right: 20px;
}

.fat-radio-input,
.filling-check-input {
  display: none;
}

.fat-radio-label {
  padding-left: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  position: relative;
}

.fat-radio-input + .fat-radio-label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url("./../img/radio-off.svg");
  cursor: pointer;
  opacity: 0.8;
}

.fat-radio-input:checked + .fat-radio-label::before {
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("./../img/radio-on.svg");
  cursor: pointer;
  opacity: 0.8;
}

.filling-checkbox-list {
  margin: 0;
  padding: 8px 19px 8px 14px;
  list-style: none;
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.filling-check-label {
  padding-left: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  position: relative;
}

.filling-checkbox-list li:not(:last-of-type) {
  margin-right: 24px;
}

.filling-check-input + .filling-check-label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("./../img/check-off.svg");
  cursor: pointer;
  opacity: 0.8;
}

.filling-check-input:checked + .filling-check-label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 24px;
  height: 20px;
  background-image: url("./../img/check-on.svg");
  cursor: pointer;
  opacity: 0.8;
}

.fat-radio-input + .fat-radio-label:hover:before,
.fat-radio-input:checked + .fat-radio-label:hover:before,
.filling-check-input + .filling-check-label:hover::before,
.filling-check-input:checked + .filling-check-label:hover::before {
  opacity: 1;
}

.fat-radio-input + .fat-radio-label:disabled::before,
.fat-radio-input:checked + .fat-radio-label:disabled::before,
.filling-check-input + .filling-check-label:disabled::before,
.filling-check-input:checked + .filling-check-label:disabled::before {
  opacity: 0.4;
}

.form-button {
  display: inline-block;
  width: 144px;
  height: 36px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.form-button:hover {
  background-color: #fff;
  color: #323232;
}

.form-button:active {
  background-color: #ededed;
  border: none;
  box-shadow: inset 0px 2px 1px #696969;
}

/* PAGINATION */

.pagination-list {
  margin: 0;
  margin-top: 80px;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.pagination-arrow {
  width: 7px;
  height: 12px;
  cursor: pointer;
}

.pagination-before {
  margin-right: 15px;
}

.pagination-next {
  margin-left: 15px;
}

.pagination-disabled {
  opacity: 0.2;
}

.pagination-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 3px 8px;
  margin-left: 4px;
  cursor: pointer;
}

.pagination-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-link.active-pagination,
.pagination-link:active {
  background-color: #fff;
  color: #323232;
  border-radius: 50%;
}
